# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
vc/.vs/
*.VC.db
input/
output/
*.tlog
*.iobj
*.ipdb
*.pdb
*.log
*.idb
*.ilk
*.vcxproj.user
*.txt
*.xlsx
*.csv
*.suo
/.vs
*.png
*.7z
*.zip
*.rar
/vc/CityEdit/x64/Release
/vc/x64/Release

#MACOS
.DS_Store
cm/build/
cm/cmake/*
[Bb]uild/

